@import-normalize;
html{
  font-size: 55%;
}
body {
  margin: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
