.Banner{
    width: 100%;
    height: 60vh;
    margin-bottom: 20rem;
}
.backgroundImage{
    width: 100%;
    height: 55vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.backgroundImage p{
    width: fit-content;
    background-color: transparent;
    position: absolute;
    bottom: 7.04rem;
    left:20%;
    color: #fff;
    font-weight: 500;
    font-size: 4.54rem;
}
.backgroundImage img{
    width: 100%;
    /* height: 75rem; */
    height: 100%;
    /* height: auto; */
}
.ChairImage{
    width: 27%;
    position: absolute;
    bottom:0;
    right:0rem;
    z-index: 99;
}
.Chair{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    margin-top: 10rem;
    z-index:999;
}
.ChairImage img{
    width: 100%;
    height: auto;
}
.Head{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.Title{
    font-size: 4.54rem;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.Description{
    font-weight: 400;
    font-size: 3.40rem;
    margin: 0;
    text-align: left;
}
@media(max-width:768px){
    .Banner{
        height: 20vh;
        margin-bottom: 4rem;
    }
    .Chair{
        width: 90%;
        flex-direction: column;
    }
    .backgroundImage{
        height: 30vh;
    }
    .backgroundImage p{
        font-size: 2.2rem;
        bottom: 3rem;
    }
    .Title{
        font-size: 2rem;
    }
    .Description{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .ChairImage img{
        display: none;
    }
    
    
}
@media (min-width:768px) and (max-width:1024px){
    .Banner{
        margin-bottom: 5rem;
        height: 30vh;
    }
    .backgroundImage{
        height: 30vh;
    }
    .ChairImage{
        display: none;
    }

}